<div>
  Do Novaka ima još <%= @to_go %> dana.
</div>
<div>
  <%= @city %>
</div>
<div>
  <%= @city[0] %>, <%= COUNTRIES[@city[3]] %>
</div>
<div id="mapid" style="width: 100%; height: 400px;">

<script>

  var mymap = L.map('mapid').setView([<%= @city[1] %>, <%= @city[2] %>], <%= @conf[:zoom].min %>);

  L.tileLayer('https://api.mapbox.com/styles/v1/jablan/cixn0cayd000h2smv3c56i8h5/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiamFibGFuIiwiYSI6ImNpeG15OG93ZzAwMDgycW84OW81NzU2NDAifQ.UvfXX0l3pMsFPh7aKjKTgg', {
    maxZoom: <%= @conf[:zoom].max %>,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'mapbox.streets'
  }).addTo(mymap);

  L.marker([<%= @city[1] %>, <%= @city[2] %>]).addTo(mymap);
</script>